.footer {
  padding: 48px 0 28.43px;

  @include pad-768 {
    padding: 40px 0;
  }

  @include phone-576 {
    padding: 24px 0 21.07px;
  }

  &-link {
    padding: 0 24px;

    &:hover {
      text-decoration: 2px underline;
    }

    @include pad-768 {
      padding: 0 20px;
    }

    &-start {
      padding-left: 0;
    }

    &-end {
      padding-right: 0;
    }

    &-icons {
      box-sizing: content-box;

      &.mail {
        padding-right: 14px;

        @include pad-768 {
          padding-right: 10px;
          width: 28px;
          height: 24px;
        }

        @include phone-576 {
          padding-right: 7px;
          width: 16px;
          height: 12px;
        }
      }

      &.tel {
        padding-right: 20px;

        @include pad-768 {
          padding-right: 15px;
          width: 18px;
          height: 18px;
        }

        @include phone-576 {
          padding-right: 7px;
          width: 14px;
          height: 14px;
        }
      }
    }


  }

  &-icon {
    padding: 0 16px;

    @include pad-768 {
      width: 24px;
      height: 24px;
      box-sizing: content-box;
      padding: 0 12px;
    }

    &-start {
      padding-left: 0;
    }

    &-end {
      padding-right: 0;
    }

  }

  &-nav {
    margin-bottom: 36px;

    @include phone-576 {
      display: none;
    }
  }

  &-information {
    padding-bottom: 20px;

    @include pad-768 {
      padding-bottom: 28px;
    }

  }

  &-contact-list-item {
    font-size: $fs-3;

    @include pad-768 {
      font-size: $fs-7;
    }

    @include phone-576 {
      font-size: $fs-10;
    }

    &.gap {
      margin-bottom: 19px;

      @include pad-768 {
        margin-bottom: 15px;
      }
    }

  }
}

.copyright {
  padding-top: 24px;

  @include phone-576 {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  &-logo {
    margin-right: 38px;

    @include pad-768 {
      display: none;
      margin-right: 0;

    }

    @include phone-576 {
      display: block;
      width: 46px;
      height: 28px;
    }
  }

  &-info {
    @include phone-576 {
      flex-direction: column;
      align-items: flex-start;
    }

    &-text {
      @include phone-576 {
        font-size: $fs-11;
        margin-bottom: 7px;
      }
    }

    &-list {
      @include phone-576 {
        flex-direction: column;
      }
    }

    &-link {
      padding: 0 31px;

      @include pad-768 {
        padding: 0 12px;
      }

      @include phone-576 {
        padding: 0;
        margin-bottom: 8px;
      }

      &-end {
        padding-right: 0;

        @include phone-576 {
          margin-bottom: 0;
        }
      }
    }
  }
}