.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-white {
    background-color: $white;
}

.bg-dark {
    background-color: $dark;
}

.bg-tertiary {
    background-color: $tertiary;
}

.bg-brown-dark-1 {
    background-color: $brown-dark-1;
}

.bg-brown-light-1 {
    background-color: $brown-light-1;
}

.bg-gray-light-4 {
    background-color: $gray-light-4;
}





