.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-tertiary {
    color: $tertiary;
}

.text-italic {
    font-style: italic;
}

.text-white {
    color: $white;
}

.text-gray-dark-1 {
    color: $gray-dark-1;
}
.text-gray-dark-3 {
    color: $gray-dark-3;
}
.text-gray-dark-4 {
    color: $gray-dark-4;
}

.text-gray-light-1 {
    color: $gray-light-1;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;

}

.fw-bold {
    font-weight: bold;
}



.fs-0 {
    font-size: $fs-0; //72px
}

.fs-1 {
    font-size: $fs-1; //64px
}

.fs-2 {
    font-size: $fs-2; //48px
}

.fs-3 {
    font-size: $fs-3; //36px
}

.fs-4 {
    font-size: $fs-4; //32px
}

.fs-5 {
    font-size: $fs-5; //28px
}

.fs-6 {
    font-size: $fs-6; //24px
}

.fs-7 {
    font-size: $fs-7; //20px
}

.fs-8 {
    font-size: $fs-8; //19px
}

.fs-9 {
    font-size: $fs-9; //18px
}

.fs-10 {
    font-size: $fs-10; //16px
}

.fs-11 {
    font-size: $fs-11; //14px
}