.blog-nav {
    margin-bottom: 82px;

    @include pad-768 {
        margin-bottom: 40px;
        position: sticky;
        top: 110px;
    }

    @include phone-576 {

        margin-bottom: 8px;
        top: 146px;
    }

    &.hide-576 {
        @include phone-576 {
            display: none;
        }
    }

    &.show-576 {
        margin-bottom: 8px;
        @include phone-576 {
            display: block;
        }
    }
}


.blog-link {
    padding: 14px 24px 12px;
    font-size: $fs-7;

    &:hover {
        text-decoration: 2px solid underline;
    }

    @include pad-768 {
        font-size: $fs-10;
        padding: 16px;
    }

    @include phone-576 {
        padding: 16px 12px;
    }

    @include phone-320 {
        font-size: $fs-11;
        padding: 16px 8px;
    } 

    &.start {
        padding-left: 0;
    }

    &.end {
        padding-right: 0;
    }

    &-search {

        @include phone-375 {
            display: none;
        }
    }

}

.blog {
    @include phone-576 {
        padding-top: 24px;
    }

    &-list {
        margin-bottom: 60px;

        @include pad-768 {
            margin-bottom: 32px;
            align-items: center;
        }

        @include phone-576 {
            margin-bottom: 26px;
            flex-direction: column;
            align-items: stretch;
        }

        &.end {
            margin-bottom: 100px;

            @include pad-768 {
                margin-bottom: 71px;
            }

            @include phone-576 {
                margin-bottom: 31px;
            }

        }

        &-pic {
            flex: 0 0 57.207207207%;

            @include pad-768 {
                flex: 0 0 47.826086956%;
            }

            @include phone-414 {
                flex: 0 0 100%;
            }
        }

        &-info {
            flex: 0 0 40.09009009%;

            @include pad-768 {
                flex: 0 0 49.7%;
            }

            &-tittle {
                font-size: $fs-4;

                @include pad-768 {
                    font-size: $fs-7;
                }

                @include phone-576 {
                    font-size: $fs-10;
                }

            }

            &-text {
                margin-bottom: 24px;

                @include pad-768 {
                    margin-bottom: 16px;
                }

                @include phone-576 {
                    margin-bottom: 0px;
                }
            }

            &-subtittle {
                font-size: $fs-7;

                @include pad-768 {
                    font-size: $fs-10;
                }

                @include phone-576 {
                    font-size: $fs-11;
                }
            }

            &-date {
                @include pad-768 {
                    font-size: $fs-11;
                }
            }

            &-btn {
                font-size: $fs-3;
                align-self: flex-end;

                &:hover {
                    text-decoration: underline;


                }

                @include pad-768 {
                    display: none;
                }
            }

            &-introduction {
                font-size: $fs-7;

                @include pad-768 {
                    font-size: $fs-11;
                }

                @include phone-414 {
                    display: none;
                }
            }
        }
    }
}

.more {
    display: none;

    @include pad-768 {
        display: inline;
    }
}

.change-line {
    @include pad-768 {
        display: none;
    }
}