.breadCrumb {
    font-size: $fs-10;
    margin-bottom: 17px;

    @include pad-768 {
        font-size: $fs-11;
        margin-bottom: 8px;
    }

    @include phone-576 {
        margin-bottom: 6px;
    }

}

.hashTag {
    margin-right: 16px;
    font-size: $fs-6;

    @include pad-768 {
        margin-right: 8px;
        font-size: $fs-10;
    }

    @include phone-576 {
        margin-right: 4px;
        font-size: $fs-11;
    }
}

.blog-detail {
    flex: 0 0 74.324324324%;

    @include pad-768 {
        flex: 0 0 73.913043478%;
    }

    @include phone-576 {
        flex: 0 0 100%;
    }

    &-tittle {
        font-size: $fs-2;

        @include pad-768 {
            font-size: $fs-4;
        }

        @include phone-576 {
            font-size: $fs-7;
            color: $secondary;
        }
    }

    &-text {
        margin-bottom: 24px;

        @include pad-768 {
            margin-bottom: 16px;
        }

        @include phone-576 {
            margin-bottom: 19px;
        }
    }

    &-items {
        margin-bottom: 36px;

        @include pad-768 {
            margin-bottom: 24px;
        }

        &.end {
            margin-bottom: 50px;

            @include pad-768 {
                margin-bottom: 27px;
            }

            @include phone-576 {
                margin-bottom: 31px;
            }
        }

        &-pic {
            margin-bottom: 24px;

            @include pad-768 {
                margin-bottom: 16px;
            }
        }

        &-text {
            font-size: $fs-7;

            @include pad-768 {
                font-size: $fs-10;
            }

            &-breakWord {
                margin-bottom: 30px;

                @include pad-768 {
                    margin-bottom: 24px;
                }

                @include phone-576 {
                    margin-bottom: 22px;
                }
            }
        }
    }

    &-hide-768 {
        @include pad-768 {
            display: none;
        }
    }

    &-hide-576 {
        @include phone-576 {
            display: none;
        }
    }

    &-pagation {
        font-size: $fs-8;

        @include pad-768 {
            font-size: $fs-10;
        }

        @include phone-576 {
            flex-direction: column;
            font-size: $fs-11;
        }

        &-arrow {
            flex-direction: row-reverse;

            @include phone-576 {
                flex-direction: row;
                margin-top: 8px;
            }
        }
    }

    &-link {
        margin-bottom: 344px;

        @include pad-768 {
            margin-bottom: 104px;
        }

        @include phone-576 {
            margin-bottom: 39px;
        }

        &-social {
            padding-bottom: 16px;
            margin-bottom: 24px;

            @include pad-768 {
                margin-bottom: 16px;

                @include phone-576 {
                    margin-bottom: 8px;
                }

            }
        }

        &-share {
            margin-right: 19px;
            font-size: $fs-7;

            @include pad-768 {
                margin-right: 16px;
                font-size: $fs-10;
            }

            @include phone-576 {
                margin-right: 18px;
            }
        }

        &-fb {
            margin-right: 16px;
        }
    }




}

.tags {
    flex: 0 0 22.882882882%;

    @include phone-576 {
        margin-bottom: 56px;
    }

    @include pad-768 {
        flex: 0 0 22%;
    }

    @include phone-576 {
        flex: 0 0 100%;
        margin-bottom: 56px;
    }

    &-list {
        margin-top: 8px;

        @include phone-576 {
            margin-top: 10px;
        }
    }

    &-items {
        font-size: $fs-6;
        margin-bottom: 8px;
        margin-right: 24px;

        &:hover {
            text-decoration: 9px underline;
        }

        @include pad-768 {
            font-size: $fs-10;
            margin-bottom: 0px;
        }

        @include phone-576 {
            margin-right: 8px;
        }

    }
}

.arrow-undo {
    margin-right: 8px;
}

.arrow-redo {
    margin-left: 8px;

    @include phone-576 {
        margin-left: 0;
        margin-right: 8px;
    }
}

.arrow-undo,
.arrow-redo {
    width: 24px;
    height: 21px;

    @include pad-768 {
        width: 16px;
        height: 14px;
    }

    @include phone-576 {
        width: 20px;
        height: 18px;
    }
}