.banner {
    background-image: url(../images/banner.png);
    height: 840px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include pad-768 {
        background-image: url(../images/banner-sm.png);
    }

    @include phone-576 {
        height: 394px;
    }


    &-tittle {
        @include pad-768 {
            font-size: $fs-2;
        }

        @include phone-576 {
            font-size: $fs-4;
        }
    }

    &-text {
        @include pad-768 {
            font-size: $fs-7;
        }

        @include phone-576 {
            font-size: $fs-10;
        }
    }
}


.introduction {
    padding: 64px 0 80px;

    &-tittle {
        margin-bottom: 60px;

        @include pad-768 {
            font-size: $fs-4;
        }

        @include phone-375 {
            font-size: $fs-6;
        }
    }

    &-list {
        @include pad-768 {
            justify-content: space-around;
        }

    }

    &-items {
        flex: 0 0 18.738738738%;

        @include pad-768 {
            flex: 0 0 34.347826087%;

            &[ tittle="單一價格"] {
                order: 1;
            }

            &[ tittle="關於鏡片"] {
                order: 2;
            }

            &[ tittle="20 分鐘即可取件"],
            &[ tittle="安心售後服務"] {
                margin-bottom: 40px;
            }
        }

        @include phone-576 {
            flex: 0 0 68.695652173%;

            &[ tittle="單一價格"] {
                margin-bottom: 40px;
            }

        }

        &-pic {
            margin-bottom: 39px;
            height: 100px;

            @include pad-768 {
                margin-bottom: 16px;
            }
        }

        &-title {
            margin-bottom: 4px;

            @include pad-768 {
                margin-bottom: 8px;
            }
        }
    }
}

.product-series {
    padding: 64px 0 80px;

    @include pad-768 {
        padding: 40px 0;
    }

    @include phone-576 {
        padding: 32px 0;
    }

    &-tittle {
        margin-bottom: 60px;

        @include pad-768 {
            margin-bottom: 32px;
            font-size: $fs-4;
        }

        @include phone-576 {
            margin-bottom: 20px;
            font-size: $fs-7;
        }
    }


    &-items {
        margin-bottom: 32px;

        @include pad-768 {
            margin-bottom: 8px;

            &:nth-of-type(even) {
                flex-direction: row;
            }
        }

        &-end {
            margin-bottom: 0;
        }

        &-pic {
            flex: 0 0 57.207207207%;

            @include pad-768 {
                flex: 0 0 56.52173913%;
            }

            @include phone-576 {
                flex: 0 0 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            &-375 {
                display: none;

                @include phone-576 {
                    display: flex;
                 
                }
            }
        }

    }

    &-link {
        @include pad-768 {
            font-size: $fs-5;
        }

        @include phone-576 {
            display: none;
        }

        &.start {
            margin-left: 30px;
        }

        &.end {
            margin-right: 30px;

            @include pad-768 {
                margin-right: 0px;
                margin-left: 30px;
            }

        }

        &-pic {
            margin-right: 8px;
        }
    }
}

.signed-jointly {
    padding: 64px 0 80px;
    background: url(../images/bg.png);
    background-position: center;
    background-size: cover;

    @include pad-768 {
        padding: 40px 0;
    }

    @include phone-576 {
        padding: 32px 0;
    }

    &-tittle {
        margin-bottom: 60px;

        @include pad-768 {
            font-size: $fs-4;
            margin-bottom: 32px;
        }

        @include phone-576 {
            font-size: $fs-7;
        }
    }

    &-items {
        flex: 0 0 48.648648648%;

        @include pad-768 {
            flex: 0 0 47.826086956%;

        }

        @include phone-576 {
            flex: 0 0 100%;

            &.start {
                margin-bottom: 16px;
            }

            &.end {
                margin-bottom: 0px;
            }
        }

        &-tittle {
            @include pad-768 {
                font-size: $fs-4;
            }

            @include phone-576 {
                font-size: $fs-2;

            }

            @include phone-414 {
                font-size: $fs-4;

            }
        }

        &-bgOpacity {
            opacity: 0.5;
        }
    }
}

.container-form {
    max-width: 760px;
    padding: 0 15px;
    margin: 0 auto;

    @include pad-768 {
        max-width: 480px;
    }
}

.customer-recommend {
    padding: 64px 0;

    @include pad-768 {
        padding: 40px 0;
    }

    @include phone-576 {
        padding: 32px 0;
    }

    &-tittle {
        margin-bottom: 60px;

        @include pad-768 {
            margin-bottom: 32px;
            font-size: $fs-4;
        }

        @include phone-576 {
            margin-bottom: 20px;
            font-size: $fs-7;
        }
    }

    &-items {
        flex: 0 0 22.972972973%;
        border-radius: 4px 0px 0px 0px;

        @include pad-768 {
            flex: 0 0 47.826086956%;

            &[tittle="Jessy"],
            &[tittle="Karen"] {
                margin-bottom: 29px;
            }
        }

        @include phone-576 {

            &[tittle="Jessy"],
            &[tittle="Karen"] {
                margin-bottom: 16px;
            }
        }

        @include phone-414 {
            flex: 0 0 100%;

            &[tittle="Chelsea"] {
                margin-bottom: 16px;
            }
        }

        &-body {
            padding: 14px 16px 15px;

            &-tittle {
                margin-bottom: 8px;
            }

            &-text {
                margin-bottom: 10px;
            }

            @include pad-768 {

                &-text,
                &-tittle {
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.contact {
    padding: 64px 0 80px;

    @include pad-768 {
        padding: 40px 0;
    }

    @include phone-576 {
        padding: 32px 0;
    }

    &-tittle {
        margin-bottom: 24px;

        @include pad-768 {
            font-size: $fs-4;
            margin-bottom: 16px;
        }

        @include pad-768 {
            font-size: $fs-7;
            margin-bottom: 20px;
        }
    }

    &-text {
        margin-bottom: 20px;

        @include pad-768 {
            font-size: $fs-10;
            margin-bottom: 8px;
        }
    }
}

.form {

    &-input {
        padding: 14px 16px;
        margin-bottom: 16px;
        background-color: $tertiary;

        @include pad-768 {
            margin-bottom: 8px;
            padding: 8px 12px;
        }
    }

    &-checkbox {
        width: 24px;
        height: 24px;
        margin: 0;

        @include pad-768 {
            width: 18px;
            height: 18px;
        }
    }

    &-textarea {

        height: 136px;
        padding: 16px;
        margin-bottom: 16px;
        background-color: $tertiary;

        @include pad-768 {
            margin-bottom: 8px;
        }
    }

    &-submit {
        padding: 16px 143px;
        border: none;
        margin-top: 42px;

        @include pad-768 {
            padding: 8px 78px;
            margin-top: 20px;
        }

        @include pad-768 {
            margin-top: 24px;
        }
    }

    @include pad-768 {

        &-input,
        &-checkbox,
        &-textarea,
        &-submit,
        &-label,
        &-checkbox-group {
            font-size: $fs-11;
        }
    }

    &-checkbox-group {
        align-items: flex-start;
    }
}


.policy {
    margin-left: 4px;
}