.product-glasses-list {
    margin-bottom: 192px;
    @include pad-768 {
      
    }
    @include phone-576 {
        margin-bottom: 8px;
    }
}

.product-list-items-sunglasses {
    flex: 0 0 31.531531531%;
    margin-bottom: 112px;

    @include pad-768 {
        flex: 0 0 47.826086956%;
        margin-bottom: 72px;
    }

    @include phone-576 {
        margin-bottom: 32px;
        flex: 0 0 100%;
    }

}

.product-list-items-sunglasses-tittle {
    @include pad-768 {
        flex-direction: row;
        justify-content: space-between;
    }
}

.product-list-items-id-mb {
    margin-bottom: 8px;

    @include pad-768 {
        margin-bottom: 0;
    }
}

.product-list-items-price-mb {
    margin-bottom: 11px;

    @include pad-768 {
        margin-bottom: 0;
    }
}

.glasses-pagation {
    display: none;
    @include pad-768 {
        display: block;
    }
}