.service-map {
    background-image: url(../images/map.png);
    flex: 0 0 57.207207207%;
    background-position: center;
    background-size: cover;

    @include pad-768 {
        flex: 0 0 100%;
        height: 465px;
    }

    @include phone-576 {
        height: 227px;
    }
}

.service-list-items-map {
    flex: 0 0 40.09009009%;
    margin-bottom: 0;

    @include pad-768 {
        flex: 0 0 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    @include phone-576 {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: stretch;
    }


}

.service-list-items-map-body {
    @include pad-768 {
        flex: 0 0 47.826086956%;
    }
}

.service-list-items-map-pic {
    @include pad-768 {
        flex: 0 0 47.826086956%;
    }

    img {
        height: 164px;
        width: 100%;
    }
}

// .service-list-map {}