$primary:#AA0601;
$secondary:#650300;
$dark:#111619;
$gray-dark-1:#707070;
$gray-dark-2:#00000020;
$gray-dark-3:#555555;
$gray-dark-4:#0A0A0A;

$gray-light-1:#DEE2E6;
$gray-light-2:#CED4DA;
$gray-light-3:#DCDCDC;
$gray-light-4:#F2F2F2;

$white:#fff;
$tertiary:#AA06010D;
$brown-dark-1:#5F3E2D;
$brown-light-1:#B75929;


$fs-0: 72px;
$fs-1: 64px;
$fs-2: 48px;
$fs-3: 36px;
$fs-4: 32px;
$fs-5: 28px;
$fs-6: 24px;
$fs-7: 20px;
$fs-8: 19px;
$fs-9:18px;
$fs-10:16px;
$fs-11:14px;
$fs-12:12px;
$fs-13:11px;